// lt

.timer-controls {
  margin-bottom: 30px;
}
.timer-display {
  font-family: "PT Mono","Ubuntu Mono",monospace;
  font-size: 18rem;
  font-weight: 900;
  text-align: center;
  line-height: 1.1;
}
.timer-warning {
  color: #ea5549;
}


@media (max-width: 543px) {
  .timer-display {
    font-size: 6rem;
  }
}
@media (min-width: 544px) and (max-width: 767px) {
  .timer-display {
    font-size: 10rem;
  }
}
