.infolist {
  padding: 0;
  list-style-type: none;

  &__term {

  }

  &__detail {
    margin-left: 24px;
    margin-bottom: 8px;

    &::before {
      content: '- '
    }

    & + & {
      margin-top: -8px;
    }
  }
}
