.timer-controls {
  display: flex;
  margin-bottom: 30px;
}

.timer-control {
  & + & {
    margin-left: 8px;
  }

  &.timer-control--time {
    display: inline-block;

    .timer-control__input {
      width: 72px;
      text-align: center;
    }

    .time-picker {
      width: 72px;
    }
  }

  &.timer-control--button {
    min-width: 72px;
  }
}

.time-picker {
  display: block;
  position: absolute;
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  list-style: none;
  visibility: visible;
  z-index: var(--zindex-time-picker);

  &[hidden] {
    display: none;
    visibility: hidden;
  }

  .time-picker__item {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 0;
    border: none;
    background-color: var(--white);
    font-size: var(--font-size-small);
    line-height: 1.4;
    text-align: center;
    cursor: pointer;

    &[aria-selected='true'] {
      background-color: var(--gray-100);
    }

    &:hover {
      background-color: var(--gray-200);
    }
  }
}

.timer-display {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  &,
  &[data-variant='default'] {
    background-color: var(--gray-100);

    .timer-display__progress {
      &::-webkit-progress-value {
        background-color: var(--progress-green);
      }

      &::-moz-progress-bar {
        background-color: var(--progress-green);
      }

      &::-ms-fill {
        background-color: var(--progress-green);
      }
    }
  }

  &[data-variant='warning'] {
    background-color: var(--safety-yellow);

    .timer-display__progress {
      &::-webkit-progress-value {
        background-color: var(--progress-warning);
      }

      &::-moz-progress-bar {
        background-color: var(--progress-warning);
      }

      &::-ms-fill {
        background-color: var(--progress-warning);
      }
    }
  }

  &[data-variant='alert'] {
    background-color: var(--safety-orange);
    color: var(--white);

    .timer-display__progress {
      &::-webkit-progress-value {
        background-color: var(--progress-alert);
      }

      &::-moz-progress-bar {
        background-color: var(--progress-alert);
      }

      &::-ms-fill {
        background-color: var(--progress-alert);
      }
    }
  }

  &[data-variant='timeup'] {
    background-color: var(--safety-red);
    color: var(--white);

    .timer-display__progress {
      &::-webkit-progress-value {
        background-color: var(--progress-proceeded);
      }

      &::-moz-progress-bar {
        background-color: var(--progress-proceeded);
      }

      &::-ms-fill {
        background-color: var(--progress-proceeded);
      }
    }
  }

  .timer-display__time {
    font-family: var(--font-noto-sans-display), sans-serif;
    font-weight: var(--font-weight-semi-bold);
    font-size: calc(20vw + 9vh);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .timer-display__progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8px;
    background-color: var(--gray-200);
    border-radius: 0;

    &::-webkit-progress-bar {
      background-color: var(--gray-200);
    }

    &[hidden] {
      display: none;
      visibility: hidden;
    }
  }
}
