.timer-controls {
  margin-bottom: 30px;
}

.timer-control {
  display: inline-block;

  & + & {
    margin-left: 8px;
  }

  &.timer-control--time {
    width: 80px;

    .time-picker {
      width: 80px;
    }
  }

  &.timer-control--button {
    min-width: 80px;
  }
}

.time-picker {
  display: none;
  position: absolute;
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  z-index: var(--zindex-time-picker);

  &.time-picker--active {
    display: block;
  }

  .time-picker__item {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 0;
    border: none;
    background-color: var(--white);
    line-height: 1.4;
    cursor: pointer;

    &:hover {
      background-color: var(--gray-200);
    }
  }
}

.timer-display {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  .timer-display__time {
    font-family: var(--font-noto-sans-display), sans-serif;
    font-weight: var(--font-weight-semi-bold);
    font-size: calc(20vw + 10vh);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.timer-display--default {
    background-color: var(--gray-100);
  }

  &.timer-display--warning {
    background-color: var(--safety-yellow);
  }

  &.timer-display--alert {
    background-color: var(--safety-orange);
    color: var(--white);
  }

  &.timer-display--timeup {
    background-color: var(--safety-red);
    color: var(--white);
  }
}
