.timer-layout {
  position: relative;
  width: 100%;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.timer-controls {
  display: flex;
  margin-bottom: 30px;
}

.timer-control {
  & + & {
    margin-left: 8px;
  }

  &.timer-control--time {
    position: relative;
    display: inline-block;

    .timer-control__input {
      width: 72px;
      text-align: center;
    }

    .time-picker {
      width: 72px;
    }
  }

  &.timer-control--button {
    min-width: 72px;
  }
}

.time-picker {
  display: block;
  position: absolute;
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  list-style: none;
  visibility: visible;
  z-index: var(--zindex-time-picker);

  &[hidden] {
    display: none;
    visibility: hidden;
  }

  .time-picker__item {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 0;
    border: none;
    background-color: var(--white);
    font-size: var(--font-size-small);
    line-height: 1.4;
    text-align: center;
    cursor: pointer;

    &[aria-selected='true'] {
      background-color: var(--gray-100);
    }

    &:hover {
      background-color: var(--gray-200);
    }
  }
}

.timer-display {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  .timer-display__time {
    display: flex;
    width: 100%;
    font-family: var(--font-noto-sans-display), sans-serif;
    font-weight: var(--font-weight-semi-bold);
    font-size: 36vw;
    line-height: 1.2;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .timer-display__progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--timer-display-progress-bar-height);
    background-color: var(--gray-200);
    border-radius: 0;

    &::-webkit-progress-bar {
      background-color: var(--gray-200);
    }

    &[hidden] {
      display: none;
      visibility: hidden;
    }
  }

  .timer-display__toggle {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: var(--timer-display-padding);
    color: var(--gray-300);
  }

  &[data-variant='default'] {
    background-color: var(--gray-100);

    .timer-display__progress {
      &::-webkit-progress-value {
        background-color: var(--progress-green);
      }

      &::-moz-progress-bar {
        background-color: var(--progress-green);
      }

      &::-ms-fill {
        background-color: var(--progress-green);
      }
    }
  }

  &[data-variant='warning'] {
    background-color: var(--safety-yellow);

    .timer-display__progress {
      &::-webkit-progress-value {
        background-color: var(--progress-warning);
      }

      &::-moz-progress-bar {
        background-color: var(--progress-warning);
      }

      &::-ms-fill {
        background-color: var(--progress-warning);
      }
    }
  }

  &[data-variant='alert'] {
    background-color: var(--safety-orange);
    color: var(--white);

    .timer-display__progress {
      &::-webkit-progress-value {
        background-color: var(--progress-alert);
      }

      &::-moz-progress-bar {
        background-color: var(--progress-alert);
      }

      &::-ms-fill {
        background-color: var(--progress-alert);
      }
    }
  }

  &[data-variant='timeup'] {
    background-color: var(--safety-red);
    color: var(--white);

    .timer-display__progress {
      &::-webkit-progress-value {
        background-color: var(--progress-proceeded);
      }

      &::-moz-progress-bar {
        background-color: var(--progress-proceeded);
      }

      &::-ms-fill {
        background-color: var(--progress-proceeded);
      }
    }
  }

  @container style(--is-mobile) {
    .timer-display__time {
      line-height: 1.6;
    }
  }
}

/* Fullscreen mode */
.timer-layout[data-fullscreen='true'] {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--zindex-fullscreen);

  .timer-controls {
    position: fixed;
    top: 0;
    left: 0;
    margin: var(--timer-display-padding);
    z-index: 1;
  }

  .timer-display {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0;

    .timer-display__progress {
      top: calc(50% + 36vw / 2 + var(--font-size-small));
    }

    .timer-display__time {
      height: 100%;
      font-size: 36vw;
    }

    &[data-variant='default'] {
      background-color: var(--white);
    }
  }

  &[data-rotated='true'] {
    width: 100svh;
    height: 100vw;
    top: calc((100svh - 100vw) / 2);
    left: calc((100vw - 100svh) / 2);
    transform: rotate(90deg);

    .timer-display {
      .timer-display__time {
        font-size: 36svh;
      }

      .timer-display__progress {
        top: calc(50% + 36svh / 2 + var(--font-size-small));
      }
    }
  }

  .timer-layout__standby-hidden {
    transition: opacity 0.1s ease;
    opacity: 1;
  }

  &[data-standby='true'] {
    .timer-layout__standby-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}
