<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">

  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ page.description | default: site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | default: site.url }}">
  <meta property="og:image" content="{{ "assets/img/icon-og.png" | absolute_url }}">
  <meta property="article:publisher" content="https://www.facebook.com/fvstr.jp">
  <meta property="og:site_name" content="{{ site.title }}">

  <link rel="shortcut icon" href="{{ "favicon.ico" | relative_url }}">
  <link rel="apple-touch-icon" href="{{ "assets/img/icon.png" | relative_url }}">
</head>
<body>

{% include tags.html %}

<div class="layout">

  <div class="logo">
    <h1 class="logo__content">
      <a href="{{ "" | relative_url }}" class="logo__link">
        <img class="logo__icon" src="{{ "assets/img/icon.png" | relative_url }}" alt="Icon">
        fvstr<span class="logo__link-dot">.</span>jp
      </a>
    </h1>
  </div><!-- /.logo -->

  <main class="main">
    <div class="container">
      {{ content }}
    </div><!-- /.container -->
  </main>

  <footer class="footer">
    <div class="container">
      <small class="footer__copyright">&copy; 2018 OGAWA Katsuhiro</small>
    </div>
  </footer><!-- /.footer -->

</div><!-- /.layout -->

</body>
</html>
