.container {
  width: 100%;

  @include media(mobile) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @include media(desktop) {
    padding-left: $desktop-spacing-left;
    padding-right: $desktop-spacing-left;
  }
}
