.logo {
  &__content {
    display: inline-block;
    width: $desktop-spacing-left;
    margin: 0;
    padding: 16px 16px;
    letter-spacing: 0.03em;
    font-size: $logo-height;
    line-height: $logo-height;
    z-index: $zindex-logo;
  }

  &__icon {
    width: $logo-height;
    height: $logo-height;
    vertical-align: bottom;
  }

  &__link {
    color: $gray;
    text-decoration: none;

    &:hover {
      color: $gray-light;
      text-decoration: none;
    }
  }

  &__link-dot {
    &:hover {
      color: $link-color;
    }
  }

  @include media(desktop) {
    position: fixed;
    top: 0;
    left: 0;
  }
}
