body {
  font-family: $font-family-sans;
  font-size: $font-size-regular;
  font-weight: $font-weight-normal;
  line-height: $line-height;
  color: $gray;
}

a {
  & {
    color: $link-color;
    text-decoration: none;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $white;
}
