body {
  font-family: "Ubuntu","Hiragino Sans",Arial,sans-serif;
  font-size: 125%;
  font-weight: $font-weight-normal;
  line-height: 1.7;
  color: $gray;
}

a {
  & {
    color: $link-color;
    text-decoration: none;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $white;
}
