*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: $font-weight-bold;
}

ul, ol, li {
  margin: 0;
  padding: 0;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

strong {
  font-weight: $font-weight-bold;
}
